.custom-select-container {
    width: 280px;
    height: 40px;
    position: relative;
    margin-top: 0px;
    margin-right: 10px;
}
/*TODO: make media queries*/


.custom-select__control {
    border: 1px solid rgba(170, 171, 173, 0.3);
    border-radius: 8px;
    box-shadow: none;
    height: 40px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    font-family: ABeeZee;

}

.custom-select__control--is-focused {
    border: 1px solid rgba(170, 171, 173, 1);
    box-shadow: none;
}

.custom-select__value-container {
    padding: 0px 12px;
}

.custom-select__placeholder {
    color: var(--dl-color-default-4);
}

.custom-select__single-value {
    color: var(--dl-color-default-4);
}

.custom-select__indicator {
    color: var(--dl-color-default-4);
}

.custom-select__option {
    background-color: white;
    color: var(--dl-color-default-4);
}

.custom-select__option--is-selected {
    background-color: var(--dl-color-default-2);
    color: var(--dl-color-default-4);
}

.custom-select__option--is-selected:hover {
    background-color: var(--dl-color-default-2);
    color: var(--dl-color-default-4);
}

.custom-select__option:hover {
    background-color: var(--dl-color-default-2);
    color: var(--dl-color-default-4);
}

.custom-select__menu {
    margin-top: 2px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(170, 171, 173, 0.3);
}

.custom-select__menu-list {
    padding: 0;
}