.frame7-container {
  min-height: 100vh;
}
.frame7-frame7 {
  width: 100%;
  height: 1911px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.frame7-breadcrumbs {
  top: 168px;
  left: 130px;
  width: 540px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame7-text {
  color: var(--dl-color-default-5);
  width: 90px;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 15px;
  margin-bottom: 0;
  text-decoration: none;
}
.frame7-icons-arrows-diagrams-arrow5 {
  width: 25px;
  height: 25px;
  position: relative;
  margin-right: 15px;
}
.frame7-text002 {
  color: var(--dl-color-default-5);
  width: 90px;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 15px;
  margin-bottom: 0;
  text-decoration: none;
}
.frame7-icons-arrows-diagrams-arrow51 {
  width: 25px;
  height: 25px;
  position: relative;
  margin-right: 15px;
}
.frame7-text004 {
  color: var(--dl-color-default-5);
  width: 90px;
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: 24px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame7-header {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 120px;
  display: flex;
  padding: 20px 130px;
  position: absolute;
  box-shadow: 0px 4px 15px 0px rgba(252, 101, 126, 0.15000000596046448) ;
  align-items: center;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.frame7-logo {
  top: 20px;
  left: 130px;
  width: 280px;
  height: 80px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame7-pomegranate1 {
  top: 0px;
  left: 0px;
  width: 80px;
  height: 80px;
  position: absolute;
  border-color: transparent;
}
.frame7-text006 {
  top: 5px;
  left: 100px;
  color: rgb(0, 0, 0);
  width: 180px;
  height: auto;
  position: absolute;
  font-size: 44px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: 79.2%;
  font-stretch: normal;
  text-decoration: none;
}
.frame7-text007 {
  color: var(--dl-color-default-3);
}
.frame7-text008 {
  color: var(--dl-color-default-1);
}
.frame7-menu {
  top: 46px;
  left: 530px;
  width: 580px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: space-between;
}
.frame7-allstores {
  width: 108px;
  height: 28px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame7-text012 {
  color: var(--dl-color-default-3);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame7-allstores1 {
  width: 108px;
  height: 28px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame7-text014 {
  color: var(--dl-color-default-4);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame7-allstores2 {
  width: 108px;
  height: 28px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame7-text016 {
  color: var(--dl-color-default-4);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame7-allstores3 {
  width: 108px;
  height: 28px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame7-text018 {
  color: var(--dl-color-default-4);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame7-icons {
  top: 50px;
  left: 1131px;
  width: 79px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: flex-end;
}
.frame7-settings {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 20px;
}
.frame7-bell {
  width: 24px;
  height: 24px;
  position: relative;
}
.frame7-maskgroup {
  top: 30px;
  left: 1250px;
  width: 60px;
  height: 60px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame7-ellipse37 {
  top: -6px;
  right: -64px;
  width: 60px;
  height: 60px;
  position: absolute;
  border-color: transparent;
}
.frame7-unsplash-zn-h-r-ntw-xg6q {
  top: -13px;
  right: -73px;
  width: 83px;
  height: 82px;
  position: absolute;
  border-radius: var(--dl-radius-radius-radius4);
  border-top-left-radius: var(--dl-radius-radius-round);
  border-top-right-radius: var(--dl-radius-radius-round);
  border-bottom-left-radius: var(--dl-radius-radius-round);
  border-bottom-right-radius: var(--dl-radius-radius-round);
}
.frame7-group16 {
  top: 273px;
  left: 130px;
  width: 580px;
  height: 160px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame7-maskgroup01 {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 160px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame7-unsplash-zn-h-r-ntw-xg6q01 {
  top: -24px;
  flex: 1;
  right: 0px;
  width: 153px;
  height: 165px;
  position: absolute;
  border-radius: var(--dl-radius-radius-round);
}
.frame7-text020 {
  top: 119px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 382px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame7-text022 {
  top: 87px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame7-text024 {
  top: 41px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame7-text026 {
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame7-group17 {
  top: 493px;
  left: 130px;
  width: 580px;
  height: 160px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame7-maskgroup02 {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 160px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame7-unsplash-zn-h-r-ntw-xg6q02 {
  top: -13px;
  flex: 1;
  right: -5px;
  width: auto;
  height: 160px;
  position: absolute;
  border-color: transparent;
  border-radius: var(--dl-radius-radius-round);
}
.frame7-text028 {
  top: 119px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 382px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame7-text030 {
  top: 87px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame7-text032 {
  top: 41px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame7-text034 {
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame7-group19 {
  top: 693px;
  left: 130px;
  width: 580px;
  height: 160px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame7-maskgroup03 {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 160px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame7-unsplash-zn-h-r-ntw-xg6q03 {
  top: -12px;
  right: -5px;
  width: auto;
  height: auto;
  position: absolute;
  border-color: transparent;
  border-radius: var(--dl-radius-radius-round);
}
.frame7-text036 {
  top: 119px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 382px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame7-text038 {
  top: 87px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame7-text040 {
  top: 41px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame7-text042 {
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame7-group20 {
  top: 913px;
  left: 130px;
  width: 580px;
  height: 160px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame7-maskgroup04 {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 160px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame7-ellipse3701 {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 160px;
  position: absolute;
  border-color: transparent;
}
.frame7-unsplash-zn-h-r-ntw-xg6q04 {
  top: -70px;
  left: -14.982096672058105px;
  width: 188px;
  height: 282px;
  position: absolute;
  border-color: transparent;
}
.frame7-text044 {
  top: 119px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 382px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame7-text046 {
  top: 87px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame7-text048 {
  top: 41px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame7-text050 {
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame7-group22 {
  top: 1113px;
  left: 130px;
  width: 580px;
  height: 160px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame7-maskgroup05 {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 160px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame7-ellipse3702 {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 160px;
  position: absolute;
  border-color: transparent;
}
.frame7-unsplash-zn-h-r-ntw-xg6q05 {
  top: -70px;
  left: -14.982096672058105px;
  width: 188px;
  height: 282px;
  position: absolute;
  border-color: transparent;
}
.frame7-text052 {
  top: 119px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 382px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame7-text054 {
  top: 87px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame7-text056 {
  top: 41px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame7-text058 {
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame7-group24 {
  top: 1313px;
  left: 130px;
  width: 580px;
  height: 160px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame7-maskgroup06 {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 160px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame7-ellipse3703 {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 160px;
  position: absolute;
  border-color: transparent;
}
.frame7-unsplash-zn-h-r-ntw-xg6q06 {
  top: -70px;
  left: -14.982096672058105px;
  width: 188px;
  height: 282px;
  position: absolute;
  border-color: transparent;
}
.frame7-text060 {
  top: 119px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 382px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame7-text062 {
  top: 87px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame7-text064 {
  top: 41px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame7-text066 {
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame7-group26 {
  top: 1513px;
  left: 130px;
  width: 580px;
  height: 160px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame7-maskgroup07 {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 160px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame7-ellipse3704 {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 160px;
  position: absolute;
  border-color: transparent;
}
.frame7-unsplash-zn-h-r-ntw-xg6q07 {
  top: -70px;
  left: -14.982096672058105px;
  width: 188px;
  height: 282px;
  position: absolute;
  border-color: transparent;
}
.frame7-text068 {
  top: 119px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 382px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame7-text070 {
  top: 87px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame7-text072 {
  top: 41px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame7-text074 {
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame7-group21 {
  top: 913px;
  left: 730px;
  width: 580px;
  height: 160px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame7-maskgroup08 {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 160px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame7-ellipse3705 {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 160px;
  position: absolute;
  border-color: transparent;
}
.frame7-unsplash-zn-h-r-ntw-xg6q08 {
  top: -70px;
  left: -14.982096672058105px;
  width: 188px;
  height: 282px;
  position: absolute;
  border-color: transparent;
}
.frame7-text076 {
  top: 119px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 382px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame7-text078 {
  top: 87px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame7-text080 {
  top: 41px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame7-text082 {
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame7-group23 {
  top: 1113px;
  left: 730px;
  width: 580px;
  height: 160px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame7-maskgroup09 {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 160px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame7-ellipse3706 {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 160px;
  position: absolute;
  border-color: transparent;
}
.frame7-unsplash-zn-h-r-ntw-xg6q09 {
  top: -70px;
  left: -14.982096672058105px;
  width: 188px;
  height: 282px;
  position: absolute;
  border-color: transparent;
}
.frame7-text084 {
  top: 119px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 382px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame7-text086 {
  top: 87px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame7-text088 {
  top: 41px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame7-text090 {
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame7-group25 {
  top: 1313px;
  left: 730px;
  width: 580px;
  height: 160px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame7-maskgroup10 {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 160px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame7-ellipse3707 {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 160px;
  position: absolute;
  border-color: transparent;
}
.frame7-unsplash-zn-h-r-ntw-xg6q10 {
  top: -70px;
  left: -14.982096672058105px;
  width: 188px;
  height: 282px;
  position: absolute;
  border-color: transparent;
}
.frame7-text092 {
  top: 119px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 382px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame7-text094 {
  top: 87px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame7-text096 {
  top: 41px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame7-text098 {
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame7-group27 {
  top: 1513px;
  left: 730px;
  width: 580px;
  height: 160px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame7-maskgroup11 {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 160px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame7-ellipse3708 {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 160px;
  position: absolute;
  border-color: transparent;
}
.frame7-unsplash-zn-h-r-ntw-xg6q11 {
  top: -70px;
  left: -14.982096672058105px;
  width: 188px;
  height: 282px;
  position: absolute;
  border-color: transparent;
}
.frame7-text100 {
  top: 119px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 382px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame7-text102 {
  top: 87px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame7-text104 {
  top: 41px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame7-text106 {
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame7-group18 {
  top: 493px;
  left: 730px;
  width: 580px;
  height: 160px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame7-maskgroup12 {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 160px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame7-ellipse3709 {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 160px;
  position: absolute;
  border-color: transparent;
}
.frame7-unsplash-zn-h-r-ntw-xg6q12 {
  top: -70px;
  left: -14.982096672058105px;
  width: 188px;
  height: 282px;
  position: absolute;
  border-color: transparent;
}
.frame7-text108 {
  top: 119px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 382px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame7-text110 {
  top: 87px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame7-text112 {
  top: 41px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame7-text114 {
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame7-line1 {
  top: 463px;
  left: 130px;
  width: 1180px;
  height: 0px;
  position: absolute;
}
.frame7-line2 {
  top: 883px;
  left: 130px;
  width: 1180px;
  height: 0px;
  position: absolute;
}
