.frame8-container {
  min-height: 100vh;
}
.frame8-frame8 {
  width: 100%;
  height: 1717px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.frame8-products {
  top: 200px;
  left: 130px;
  width: 780px;
  height: 142px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame8-text {
  top: 2px;
  color: var(--dl-color-default-3);
  width: 280px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame8-frame2 {
  top: 100px;
  left: 0px;
  width: 780px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: space-between;
}
.frame8-group2 {
  width: 180px;
  height: 42px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame8-text002 {
  top: 2.625px;
  left: 9px;
  color: var(--dl-color-default-3);
  width: 162px;
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;

  text-align: center;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame8-text004 {
  color: var(--dl-color-default-4);
  height: auto;
  font-size: 28px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame8-text006 {
  color: var(--dl-color-default-4);
  height: auto;
  font-size: 28px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame8-text008 {
  color: var(--dl-color-default-4);
  height: auto;
  font-size: 28px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame8-filters {
  top: 0px;
  left: 300px;
  width: 380px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.frame8-search-suggest-outline-l-statement1active {
  width: 281px;
  height: 40px;
  display: flex;
  padding: 10px 12px;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  border-color: rgba(51, 51, 51, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 24px;
  border-radius: 8px;
}
.frame8-container1 {
  top: 9px;
  left: 40px;
  width: 229px;
  height: 22px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame8-text010 {
  color: var(--dl-color-default-5);
  width: 229px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: stretch;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame8-search {
  top: 10px;
  left: 12px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.frame8-filter {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 24px;
}
.frame8-filter1 {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 24px;
  position: absolute;
}
.frame8-header {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 120px;
  display: flex;
  padding: 20px 130px;
  position: absolute;
  box-shadow: 0px 4px 15px 0px rgba(252, 101, 126, 0.15000000596046448) ;
  align-items: center;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.frame8-logo {
  top: 20px;
  left: 130px;
  width: 280px;
  height: 80px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame8-pomegranate1 {
  top: 0px;
  left: 0px;
  width: 80px;
  height: 80px;
  position: absolute;
  border-color: transparent;
}
.frame8-text012 {
  top: 5px;
  left: 100px;
  color: rgba(0, 0, 0, 1);
  width: 180px;
  height: auto;
  position: absolute;
  font-size: 44px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: 79.19999957084656%;
  font-stretch: normal;
  text-decoration: none;
}
.frame8-text013 {
  color: var(--dl-color-default-3);
}
.frame8-text014 {
  color: var(--dl-color-default-1);
}
.frame8-menu {
  top: 46px;
  left: 530px;
  width: 580px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: space-between;
}
.frame8-allstores {
  width: 108px;
  height: 28px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame8-text016 {
  color: var(--dl-color-default-4);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame8-allstores1 {
  width: 108px;
  height: 28px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame8-text018 {
  color: var(--dl-color-default-3);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame8-allstores2 {
  width: 108px;
  height: 28px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame8-text020 {
  color: var(--dl-color-default-4);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame8-allstores3 {
  width: 108px;
  height: 28px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame8-text022 {
  color: var(--dl-color-default-4);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame8-icons {
  top: 50px;
  left: 1131px;
  width: 79px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: flex-end;
}
.frame8-settings {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 20px;
}
.frame8-bell {
  width: 24px;
  height: 24px;
  position: relative;
}
.frame8-maskgroup {
  top: 30px;
  left: 1250px;
  width: 60px;
  height: 60px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame8-ellipse37 {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  position: absolute;
  border-color: transparent;
}
.frame8-unsplash-zn-h-r-ntw-xg6q {
  top: -26.25px;
  left: -5.618408203125px;
  width: 70px;
  height: 106px;
  position: absolute;
  border-color: transparent;
}
.frame8-group16 {
  top: 382px;
  left: 130px;
  width: 580px;
  height: 160px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame8-maskgroup01 {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 160px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame8-ellipse3701 {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 160px;
  position: absolute;
  border-color: transparent;
}
.frame8-unsplash-zn-h-r-ntw-xg6q01 {
  top: -70px;
  left: -14.982096672058105px;
  width: 188px;
  height: 282px;
  position: absolute;
  border-color: transparent;
}
.frame8-text024 {
  top: 119px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 382px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame8-text026 {
  top: 87px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame8-text028 {
  top: 41px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame8-text030 {
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame8-group17 {
  top: 582px;
  left: 130px;
  width: 580px;
  height: 160px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame8-maskgroup02 {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 160px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame8-ellipse3702 {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 160px;
  position: absolute;
  border-color: transparent;
}
.frame8-unsplash-zn-h-r-ntw-xg6q02 {
  top: -70px;
  left: -14.982096672058105px;
  width: 188px;
  height: 282px;
  position: absolute;
  border-color: transparent;
}
.frame8-text032 {
  top: 119px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 382px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame8-text034 {
  top: 87px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame8-text036 {
  top: 41px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame8-text038 {
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame8-group19 {
  top: 782px;
  left: 130px;
  width: 580px;
  height: 160px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame8-maskgroup03 {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 160px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame8-ellipse3703 {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 160px;
  position: absolute;
  border-color: transparent;
}
.frame8-unsplash-zn-h-r-ntw-xg6q03 {
  top: -70px;
  left: -14.982096672058105px;
  width: 188px;
  height: 282px;
  position: absolute;
  border-color: transparent;
}
.frame8-text040 {
  top: 119px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 382px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame8-text042 {
  top: 87px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame8-text044 {
  top: 41px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame8-text046 {
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame8-group20 {
  top: 982px;
  left: 130px;
  width: 580px;
  height: 160px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame8-maskgroup04 {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 160px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame8-ellipse3704 {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 160px;
  position: absolute;
  border-color: transparent;
}
.frame8-unsplash-zn-h-r-ntw-xg6q04 {
  top: -70px;
  left: -14.982096672058105px;
  width: 188px;
  height: 282px;
  position: absolute;
  border-color: transparent;
}
.frame8-text048 {
  top: 119px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 382px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame8-text050 {
  top: 87px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame8-text052 {
  top: 41px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame8-text054 {
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame8-group22 {
  top: 1182px;
  left: 130px;
  width: 580px;
  height: 160px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame8-maskgroup05 {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 160px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame8-ellipse3705 {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 160px;
  position: absolute;
  border-color: transparent;
}
.frame8-unsplash-zn-h-r-ntw-xg6q05 {
  top: -70px;
  left: -14.982096672058105px;
  width: 188px;
  height: 282px;
  position: absolute;
  border-color: transparent;
}
.frame8-text056 {
  top: 119px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 382px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame8-text058 {
  top: 87px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame8-text060 {
  top: 41px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame8-text062 {
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame8-group24 {
  top: 1382px;
  left: 130px;
  width: 580px;
  height: 160px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame8-maskgroup06 {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 160px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame8-ellipse3706 {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 160px;
  position: absolute;
  border-color: transparent;
}
.frame8-unsplash-zn-h-r-ntw-xg6q06 {
  top: -70px;
  left: -14.982096672058105px;
  width: 188px;
  height: 282px;
  position: absolute;
  border-color: transparent;
}
.frame8-text064 {
  top: 119px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 382px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame8-text066 {
  top: 87px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame8-text068 {
  top: 41px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame8-text070 {
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame8-group26 {
  top: 1382px;
  left: 730px;
  width: 580px;
  height: 160px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame8-maskgroup07 {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 160px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame8-ellipse3707 {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 160px;
  position: absolute;
  border-color: transparent;
}
.frame8-unsplash-zn-h-r-ntw-xg6q07 {
  top: -70px;
  left: -14.982096672058105px;
  width: 188px;
  height: 282px;
  position: absolute;
  border-color: transparent;
}
.frame8-text072 {
  top: 119px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 382px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame8-text074 {
  top: 87px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame8-text076 {
  top: 41px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame8-text078 {
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame8-group21 {
  top: 582px;
  left: 730px;
  width: 580px;
  height: 160px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame8-maskgroup08 {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 160px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame8-ellipse3708 {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 160px;
  position: absolute;
  border-color: transparent;
}
.frame8-unsplash-zn-h-r-ntw-xg6q08 {
  top: -70px;
  left: -14.982096672058105px;
  width: 188px;
  height: 282px;
  position: absolute;
  border-color: transparent;
}
.frame8-text080 {
  top: 119px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 382px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame8-text082 {
  top: 87px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame8-text084 {
  top: 41px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame8-text086 {
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame8-group23 {
  top: 782px;
  left: 730px;
  width: 580px;
  height: 160px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame8-maskgroup09 {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 160px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame8-ellipse3709 {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 160px;
  position: absolute;
  border-color: transparent;
}
.frame8-unsplash-zn-h-r-ntw-xg6q09 {
  top: -70px;
  left: -14.982096672058105px;
  width: 188px;
  height: 282px;
  position: absolute;
  border-color: transparent;
}
.frame8-text088 {
  top: 119px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 382px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame8-text090 {
  top: 87px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame8-text092 {
  top: 41px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame8-text094 {
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame8-group25 {
  top: 982px;
  left: 730px;
  width: 580px;
  height: 160px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame8-maskgroup10 {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 160px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame8-ellipse3710 {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 160px;
  position: absolute;
  border-color: transparent;
}
.frame8-unsplash-zn-h-r-ntw-xg6q10 {
  top: -70px;
  left: -14.982096672058105px;
  width: 188px;
  height: 282px;
  position: absolute;
  border-color: transparent;
}
.frame8-text096 {
  top: 119px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 382px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame8-text098 {
  top: 87px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame8-text100 {
  top: 41px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame8-text102 {
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame8-group27 {
  top: 1182px;
  left: 730px;
  width: 580px;
  height: 160px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame8-maskgroup11 {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 160px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame8-ellipse3711 {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 160px;
  position: absolute;
  border-color: transparent;
}
.frame8-unsplash-zn-h-r-ntw-xg6q11 {
  top: -70px;
  left: -14.982096672058105px;
  width: 188px;
  height: 282px;
  position: absolute;
  border-color: transparent;
}
.frame8-text104 {
  top: 119px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 382px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame8-text106 {
  top: 87px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame8-text108 {
  top: 41px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame8-text110 {
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame8-group18 {
  top: 382px;
  left: 730px;
  width: 580px;
  height: 160px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame8-maskgroup12 {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 160px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame8-ellipse3712 {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 160px;
  position: absolute;
  border-color: transparent;
}
.frame8-unsplash-zn-h-r-ntw-xg6q12 {
  top: -70px;
  left: -14.982096672058105px;
  width: 188px;
  height: 282px;
  position: absolute;
  border-color: transparent;
}
.frame8-text112 {
  top: 119px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 382px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame8-text114 {
  top: 87px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame8-text116 {
  top: 41px;
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame8-text118 {
  left: 178px;
  color: var(--dl-color-default-3);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
