.frame9-container {
  min-height: 100vh;
}
.frame9-frame9 {
  width: 100%;
  height: 1717px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.frame9-products {
  top: 200px;
  left: 130px;
  width: 780px;
  height: 142px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame9-text {
  top: 2px;
  color: var(--dl-color-default-3);
  width: 280px;
  height: auto;
  position: absolute;
  font-size: 30px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame9-frame2 {
  top: 100px;
  left: 0px;
  width: 780px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: space-between;
}
.frame9-group2 {
  width: 180px;
  height: 42px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame9-text02 {
  top: 2.625px;
  left: 9px;
  color: var(--dl-color-default-3);
  width: 162px;
  height: auto;
  position: absolute;
  font-size: 28px;
  align-self: auto;

  text-align: center;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame9-text04 {
  color: var(--dl-color-default-4);
  height: auto;
  font-size: 28px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame9-text06 {
  color: var(--dl-color-default-4);
  height: auto;
  font-size: 28px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame9-text08 {
  color: var(--dl-color-default-4);
  height: auto;
  font-size: 28px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame9-filters {
  top: 0px;
  left: 300px;
  width: 380px;
  height: 40px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
}
.frame9-search-suggest-outline-l-statement1active {
  width: 281px;
  height: 40px;
  display: flex;
  padding: 10px 12px;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  border-color: rgba(51, 51, 51, 1);
  border-style: solid;
  border-width: 1px;
  margin-right: 24px;
  border-radius: 8px;
}
.frame9-container1 {
  top: 9px;
  left: 40px;
  width: 229px;
  height: 22px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame9-text10 {
  color: var(--dl-color-default-5);
  width: 229px;
  height: auto;
  position: absolute;
  font-size: 14px;
  align-self: stretch;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: 22px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame9-search {
  top: 10px;
  left: 12px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.frame9-filter {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 24px;
}
.frame9-filter1 {
  top: 0px;
  left: 0px;
  width: 160px;
  height: 24px;
  position: absolute;
}
.frame9-header {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 120px;
  display: flex;
  padding: 20px 130px;
  position: absolute;
  box-shadow: 0px 4px 15px 0px rgba(252, 101, 126, 0.15000000596046448) ;
  align-items: center;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.frame9-logo {
  top: 20px;
  left: 130px;
  width: 280px;
  height: 80px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame9-pomegranate1 {
  top: 0px;
  left: 0px;
  width: 80px;
  height: 80px;
  position: absolute;
  border-color: transparent;
}
.frame9-text12 {
  top: 5px;
  left: 100px;
  color: rgba(0, 0, 0, 1);
  width: 180px;
  height: auto;
  position: absolute;
  font-size: 44px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: 79.19999957084656%;
  font-stretch: normal;
  text-decoration: none;
}
.frame9-text13 {
  color: var(--dl-color-default-3);
}
.frame9-text14 {
  color: var(--dl-color-default-1);
}
.frame9-menu {
  top: 46px;
  left: 530px;
  width: 580px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: space-between;
}
.frame9-allstores {
  width: 108px;
  height: 28px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame9-text16 {
  color: var(--dl-color-default-4);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame9-allstores1 {
  width: 108px;
  height: 28px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame9-text18 {
  color: var(--dl-color-default-4);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame9-allstores2 {
  width: 108px;
  height: 28px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame9-text20 {
  color: var(--dl-color-default-4);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame9-allstores3 {
  width: 108px;
  height: 28px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.frame9-text22 {
  color: var(--dl-color-default-3);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;

  text-align: left;
  font-family: ABeeZee;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.frame9-icons {
  top: 50px;
  left: 1131px;
  width: 79px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: flex-end;
}
.frame9-settings {
  width: 24px;
  height: 24px;
  position: relative;
  margin-right: 20px;
}
.frame9-bell {
  width: 24px;
  height: 24px;
  position: relative;
}
.frame9-maskgroup {
  top: 30px;
  left: 1250px;
  width: 60px;
  height: 60px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.frame9-ellipse37 {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  position: absolute;
  border-color: transparent;
}
.frame9-unsplash-zn-h-r-ntw-xg6q {
  top: -26.25px;
  left: -5.618408203125px;
  width: 70px;
  height: 106px;
  position: absolute;
  border-color: transparent;
}
