.frame1-menu {
    top: 46px;
    left: 530px;
    width: 580px;
    display: flex;
    align-items: center;
    position: absolute;
    flex-shrink: 0;
    border-color: transparent;
    justify-content: space-between;
}
.frame1-allstores {
    width: 108px;
    height: 28px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
}
.frame1-text28 {
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: ABeeZee;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}
.frame1-allstores1 {
    width: 108px;
    height: 28px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
}
.frame1-text30 {
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: ABeeZee;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}
.frame1-allstores2 {
    width: 108px;
    height: 28px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
}
.frame1-text32 {
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: ABeeZee;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}
.frame1-allstores3 {
    width: 130px;
    height: 28px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
}
.frame1-text34 {
    height: auto;
    position: absolute;
    font-size: 24px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: ABeeZee;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}
.frame1-icons {
    top: 50px;
    left: 1131px;
    width: 79px;
    display: flex;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    border-color: transparent;
    justify-content: flex-end;
}
.frame1-settings {
    width: 24px;
    height: 24px;
    position: relative;
    margin-right: 20px;
}
.frame1-bell {
    width: 24px;
    height: 24px;
    position: relative;
}
.frame1-maskgroup {
    top: 30px;
    left: 1250px;
    width: 60px;
    height: 60px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
}
.frame1-ellipse37 {
    top: -6px;
    right: -64px;
    width: 60px;
    height: 60px;
    position: absolute;
    border-color: transparent;
}
.frame1-unsplash-zn-h-r-ntw-xg6q {
    top: -13px;
    right: -73px;
    width: 83px;
    height: 82px;
    position: absolute;
    border-radius: var(--dl-radius-radius-radius4);
    border-top-left-radius: var(--dl-radius-radius-round);
    border-top-right-radius: var(--dl-radius-radius-round);
    border-bottom-left-radius: var(--dl-radius-radius-round);
    border-bottom-right-radius: var(--dl-radius-radius-round);
}
.frame1-menu a {
    color: var(--dl-color-default-4);
    text-decoration: none;
    margin-right: 24px;
    position: relative;
}

.frame1-menu a:hover{
    color: var(--dl-color-default-3);
}

.frame1-menu a.active {
    color: var(--dl-color-default-3);
}