
.frame1-header {
    /*top: 0px;*/
    /*left: 0px;*/
    /*min-height: 120px;*/
    display: flex;
    padding: 20px;
    /*position: absolute;*/
    box-shadow: 0px 4px 15px 0px rgba(252, 101, 126, 0.15000000596046448) ;
    /*align-items: center;*/
    border-color: transparent;
    background-color: rgba(255, 255, 255, 1);
    /*justify-content: space-between;*/
    justify-content: space-evenly;
    /*min-width: calc(100% - 10px);*/
}
.frame1-logo {
    width: 280px;
    height: 80px;
    display: flex;
    padding: 0;

    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
}
.frame1-pomegranate1 {

    width: 80px;
    height: 80px;

    border-color: transparent;
}
.frame1-text22 {
    top: 5px;

    color: rgb(0, 0, 0);
    width: 180px;
    height: auto;
    position: relative;
    font-size: 44px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: ABeeZee;
    font-weight: 400;
    line-height: 79.2%;
    font-stretch: normal;
    text-decoration: none;
}
.frame1-text23 {
    color: var(--dl-color-default-3);
}
.frame1-text24 {
    color: var(--dl-color-default-1);
}
.frame1-menu {
    width: 580px;

    /*display: flex;*/

    display: inherit;

    align-items: center;
    position: absolute;
    flex-shrink: 0;
    border-color: transparent;
    /*justify-content: space-between;*/
}
.frame1-allstores {
    width: 108px;
    height: 28px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
}
.frame1-text28 {
    height: auto;
    font-size: 24px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: ABeeZee;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}
.frame1-allstores1 {
    width: 108px;
    height: 28px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
}
.frame1-text30 {
    height: auto;
    font-size: 24px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: ABeeZee;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}
.frame1-allstores2 {
    width: 108px;
    height: 28px;
    display: flex;

    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
}
.frame1-text32 {
    height: auto;
    font-size: 24px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: ABeeZee;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}
.frame1-allstores3 {
    width: 130px;
    height: 28px;
    display: flex;

    align-items: flex-start;
    flex-shrink: 0;
    border-color: transparent;
}
.frame1-text34 {
    height: auto;
    font-size: 24px;
    align-self: auto;
    font-style: Regular;
    text-align: left;
    font-family: ABeeZee;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
}
.collapse-navmenu-justify{
    justify-content: center;
}

.frame1-icons {

    width: 150px;
    display: flex;
    align-items: center;
    /*flex-shrink: 0;*/
    border-color: transparent;
    justify-content: flex-end;
}
.frame1-maskgroup {
    display: flex;
    padding: 0;
    align-self: auto;
    box-sizing: border-box;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-end;
    background-color: transparent;
    min-width: 150px;
}
@media (max-width: 992px){
    .frame1-icons{
        width: auto;
        justify-content: flex-start;
        padding-bottom: 10px;
    }
    .frame1-maskgroup{
        justify-content: flex-start;

    }
}
.frame1-settings {
    width: 24px;
    height: 24px;
    margin-right: 20px;
}
.frame1-settings:hover{
   filter:invert(58%) sepia(27%) saturate(3540%) hue-rotate(311deg) brightness(96%) contrast(101%);
}
.frame1-bell {
    width: 24px;
    height: 24px;
    position: relative;
}
.frame1-bell:hover{
    filter:invert(58%) sepia(27%) saturate(3540%) hue-rotate(311deg) brightness(96%) contrast(101%);
}
/*.frame1-ellipse37 {*/
/*    top: -6px;*/
/*    right: -64px;*/
/*    width: 60px;*/
/*    height: 60px;*/
/*    position: absolute;*/
/*    border-color: transparent;*/
/*}*/
.frame1-unsplash-zn-h-r-ntw-xg6q {
    width: 83px;
    height: 82px;
    border-radius: var(--dl-radius-radius-radius4);
    border-top-left-radius: var(--dl-radius-radius-round);
    border-top-right-radius: var(--dl-radius-radius-round);
    border-bottom-left-radius: var(--dl-radius-radius-round);
    border-bottom-right-radius: var(--dl-radius-radius-round);
}
.frame1-unsplash-zn-h-r-ntw-xg6q:hover {
    box-shadow:0px 0px 8px 0px #fa647d;
}
.frame1-menu a {
    color: var(--dl-color-default-4);
    text-decoration: none;
    margin-right: 24px;
    position: relative;
}

.frame1-menu .nav-link:hover{
    color: var(--dl-color-default-3);
}

.frame1-menu .nav-link.activate {
    color: var(--dl-color-default-3);
}